$black: #222222
$yellow: #EAF0CE
$melon: #FF6F59

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
  color: $yellow

code, pre
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  color: $yellow

h1, h2, h3, h4, h5, h6
  font-family: 'Libre Baskerville', serif
  color: $melon

body
  background: $black
